{% extends 'pages/abstract/default.html.twig' %}

{# Overrides blocks in head of base template #}
{% block page_title %}Blogs{% endblock %}
{% block page_description %}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                    <table class="table table-bordered">
                        <tr>
                            <th>Blogname</th>
                        </tr>
                        {% for blog in blogs %}
                            <tr>
                                <td><a href="{{ site.uri.public }}/blogs/b/{{ blog.blog_name }}">{{ blog.blog_name }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
