{% extends 'pages/abstract/default.html.twig' %}

{# Overrides blocks in head of base template #}
{% block page_title %}Blogs{% endblock %}
{% block page_description %}This page provides a yummy list of blogs{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-cutlery fa-fw"></i> List of Blogs</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Id</th>
                            <th>Blogname</th>
                        </tr>
                        {% for blog in blogs %}
                            <tr>
                                <td>{{ blog.id }}</td>
                                <td>{{ blog.blog_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}